# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\magang pt.hariff DTE\project-asset\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
